<html>
    <body>
      <form>
          <input type="text" name="name" placeholder="Name"></input>
          <input type="text" name="email" placeholder="Email"></input>
          <select name="position">
              <option value="1">First</option>
              <option value="2">Second</option>
              <option value="3">Third</option>
              <option value="2">Fourth</option>
              <option value="3">Fifth</option>
          </select>
          <input type="submit" value="Save"></input>
           <img src="html/app/images/th.jpg" alt="Mountains" width="300" height="200"> 
      </form>
    </body>
</html>